<% if (typeof success_message !== 'undefined' && success_message) { %>
    <div class="alert alert-success"><%= success_message %></div>
<% } %>
<% if (typeof error_message !== 'undefined' && error_message) { %>
    <div class="alert alert-error"><%= error_message %></div>
<% } %>
